.tm-bg-img {
	background-position: center center;
	background-repeat: repeat;
	background-size: cover;
	display: flex;
    -webkit-box-align: center;
    justify-content: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
}
#images{
    display: flex;
    justify-content: center;
    padding: 100px;
}